body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.layout {
  margin: 15%;
}

.layout>.ques {
  margin-bottom: 2rem;
  min-height: 30vh;
  text-align: left;
}

.layout>.btn-pre {
  margin-right: 0.4rem;
}

.layout>.btn-next {
  margin-left: 0.4rem;
}